<div class="main-container">
  <main>
    <div class="counter-container">
      <div class="inc-dec-container">
        <div class="input-container">
          <label for="input">enter an number and hit enter</label>
          <input [(ngModel)]="countInputVal" (keydown.enter)="setCounter()" type="number">
        </div>
        <button (click)="decrement()">-</button>
        <p>{{ counter | async }}</p>
        <button (click)="increment()">+</button>
        <span (click)="reset()" class="counter-reset-btn">
          <img [class]="resetBool? 'spin-icon':''" src="assets/reset-ico.svg" alt="reset-icon">
          <span>Reset counter</span>
        </span>
      </div>
      <div class="controls">
        <span (click)="undo()" class="undo-btn"><img src="assets/undo.svg" alt="undo icon" srcset=""></span>
      </div>
    </div>
    <span [class]="counterLogicService.minimumCounterReached?'show-hidden-item':''" class="error-info">
      sorry, you cannot go beyond Zero
    </span>
  </main>
  </div>