<div class="main-container">
  <main>
    <div class="counter-container">
      <div class="inc-dec-container">
        <div class="input-container">
          <span class="input-group">
            <span>Set counter to :</span><input #inputVal (keydown.enter)="setCounter(inputVal.value)" type="number" placeholder="initialize cart here">
          </span>
          <span class="input-group">
            <span>Set Counter interval :</span>
            <select #intervalVal (change)="changeInterval(intervalVal.value)">
              <option value="1">1</option>
              <option value="5">5</option>
              <option value="10">10</option>
              <option value="25">25</option>
            </select>
          </span>
        </div>
        <button (click)="decrement()">-</button>
        <p>{{ counter | async }}</p>
        <button (click)="increment()">+</button>
        <span (click)="reset()" class="counter-reset-btn">
          <img [class]="resetBool? 'spin-icon':''" src="assets/reset-ico.svg" alt="reset-icon">
          <span>Reset counter</span>
        </span>
      </div>
      <div class="controls">
        <span (click)="undo()" class="undo-btn"><img src="assets/undo.svg" alt="undo icon" srcset=""></span>
      </div>
    </div>
    <span [class]="counterLogicService.minimumCounterReached?'show-hidden-item':''" class="error-info">
      sorry, you cannot go beyond Zero
    </span>
  </main>
  </div>